* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* debug */
.debug [class*="col-"] {
  border: 1px solid red;
}
.debug .row {
  border: 2px solid green;
}
.debug .container {
  background-color: lightblue;
}
/* fine debug */
