* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-top: 80px;
}
h1, h2, h3, h4, h5, .ms_code {
  font-weight: 600;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.7em;
  color: #031c4e;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
p {
  font-size: 1.4em;
}
.ms_p_small {
  font-size: 1.2em;
}
.ms_p_xs {
  font-size: 1em;
}
a {
color: #006aff;
font-weight: 600;
}
a:hover {
  text-decoration: none;
  color: #006aff;
}
ul {
  list-style: none;
}
/* debug */
.debug [class*="col-"] {
  border: 1px solid red;
}
.debug .row {
  border: 2px solid green;
}
.debug .container {
  background-color: lightblue;
}
/* fine debug */

/* utility */
.ms_padding_tb {
  padding: 50px 0;
}
/* buttons */
.btn_white {
  background-color: white;
  color: #006aff;
  border: 1px solid #006aff;
  font-weight: 600;
}
.btn_white:hover {
  background-color: #006aff;
  color: white;
  border: 1px solid #006aff;
}
.btn_blue {
  background-color: #579aff;
  color: white;
}
.btn_blue:hover {
  background-color: #006aff;
  color: white;
}
.btn_google {
  border: 1px solid white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.btn_google:hover {
  color: #006aff;
  border: 1px solid #006aff;
  background-color: white;
}
/* fine utility */
/* Header */
.header_top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}
.logo_header {
  width: 180px;
}
#logo {
  width: 100%;
  padding-bottom: 7px;
}
.menu_inline ul {
  display: inline-block;
}
.menu_inline li {
  padding: 0 8px;
}
.menu_inline li a {
  color: black;
  font-weight: normal;
}
.menu_inline li a:hover {
  color: #006aff;
  text-decoration: none;
}
.hamburger_icon i {
  font-size: 40px;
  color: #006aff;
  line-height: 80px;
  padding-right: 20px;
  cursor: pointer;
}
/* Jumbotron */
.jumbo {
  background-image: url(../img/jumbo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
}
.jumbo_text {
  padding-right: 40px;
}
.jumbo_text h1 {
  color: white;
}
.jumbo_text p {
  color: #bbcbfd;
}
.form_box {
  background-color: white;
  border-radius: 5px;
  padding: 20px 15px;
}
.form_box h3:last-of-type {
  color: #006aff;
}
.form_box form input {
  margin: 10px 0;
  height: 50px;
}
.form_box button {
  font-weight: 600;
  font-size: 1.2em;
}
.form_box p > a {
  text-decoration: underline;
}
.form_box .btn_google {
  position: relative;
}
.form_box .google_icon {
  height: 23px;
  position: absolute;
  left: 10px;
}
/* Brands */
#brands {
  background-color: #f3f5f9;
}
#brands p:first-of-type {
  text-transform: uppercase;
  color: #6f7b97;
  font-weight: 600;
}
.brand_img {
  margin-bottom: 10px;
  height: 140px;
}
.brand_img img {
  max-width: 100%;
  height: 100%;
}
/* Deploy */
#deploy h4, #developers .ms_p_small, .create_droplets i a, #features h4 {
  color: #031c4e;
}
#deploy p, #deploy ul li a, #developers p, #features p {
  color: #5c6a88;
}
.deploy_title p {
  padding: 20px 0 50px;
}
#deploy ul {
  border-left: 1px solid #5c6a88;
  margin-bottom: 30px;
}
#deploy ul li {
  padding: 10px;
}
#deploy ul li a {
  font-weight: normal;
}
#deploy ul li a:hover {
  color: #006aff;
}
.ms_item {
  padding: 0 5px 30px;
}
/* Developers */
#developers {
  background-color: #f3f5f9;
}
.developers_box p {
  padding-top: 20px;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}
#developers .wrapper img {
  max-width: 80%;
}
.ms_chevron {
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
}
.ms_chevron:hover {
  color: #006aff;
}
.developers_box .ms_p_small {
  font-weight: 600;
}
.circle i {
  color: #006aff;
  padding: 0 3px;
  cursor: pointer;
}
/* Features */
#features h2 {
  padding-bottom: 30px;
}
/* Service */
#service {
  background: linear-gradient(180deg, rgba(0,72,197,1) 0%, rgba(0,30,153,1) 100%);
}
#service h2, #service .ms_code {
  color: white;
}
#service h2 {
  padding-bottom: 30px;
}
.service_box {
  margin: 20px;
}
.service_row {
  padding: 10px 0;
  font-size: 0.9em;
}
.service_row:not(:last-child) {
  border-bottom: 1px solid white;
}
.service_row div:last-child {
  text-align: right;
}
.service_row .ms_code {
  text-transform: uppercase;
}
.service_row span:not(.ms_code){
  color: #b5c5e8;
}
.service_row a {
  color: #00d5d1;
  font-weight: normal;
}
/* Teams */
#teams {
  background-color: #f3f5f9;
}
.box_white {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: white;
  padding: 80px 5px;
  border-radius: 5px;
  display: inline-block;
}
#teams .wrapper i {
  position: relative;
  bottom: 100px;
}
.box_logo {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}
.box_logo img {
  width: 100%;
}
.wrapper p:first-of-type {
  color: #5c6a88;
  padding: 30px 0 10px;
}
.teams_box .ms_p_small {
  padding-bottom: 30px;
}
/* Started */
#started {
  background: linear-gradient(180deg, rgba(0,72,197,1) 0%, rgba(0,30,153,1) 100%);
}
#started h2 {
  color: white;
  padding-bottom: 20px;
}
/* Footer */
footer {
  background-color: #031c4e;
}
.logo_footer {
  padding-bottom: 20px;
}
/* Animation  */
.logo_footer img:hover {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
      transform: rotate(1turn);
  }
}
/* fine animation */
footer h4 {
  color: white;
}
footer p:first-of-type {
  color: #8b94a9;
  margin: 0;
}
footer p:first-of-type::before {
  content: '\00A9';
}
footer p:last-of-type {
  color: #596786;
  padding-bottom: 10px;
}
footer ul li {
  padding: 5px 0;
}
 footer a {
  color: #a6adbd;
  font-weight: normal;
}
footer ul i {
  font-size: 20px;
}
/* Help button */
.help_digital {
  position: fixed;
  bottom: 30px;
  right: 50px;
}
.help_btn .btn_cont {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  font-weight: 600;
  background-color: red;
  border: 3px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 25px;
}
.help_btn {
  margin-left: 20px;
  position: relative;
  border-radius: 5px;
  background-color: #006aff;
  padding: 10px 0;
  cursor: pointer;
}
/* Animation */
.help_btn:hover {
  transition: 1s;
  transform: scale(1.5);
}
/* fine animation */
.help_btn img{
  height: 50px;
}
/* Speech bobble */
.speech_bubble {
  position: relative;
  width: 280px;
  height: 65px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.speech_bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 13px;
  border-color: transparent white;
  display: block;
  width: 0;
  z-index: 1;
  right: -13px;
  top: 30px;
}

.speech_bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 13px;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  right: -14px;
  top: 30px;
}

/* media queries */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.3em;
  }
  .box_white {
    padding: 40px 5px;
  }
  .box_white p {
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  .jumbo {
    padding: 30px 0;
  }
  .jumbo_text p {
    padding: 10px 0;
  }
  .jumbo .btn_google, .jumbo .btn_blue {
    font-size: 1em;
  }
  #brands p:first-of-type {
    font-size: 1em;
  }
  .create_droplets {
    width: 100%;
  }
  .service_row {
    font-size: 0.7em;
  }
  .speech_bubble {
    position: relative;
    width: 200px;
    height: 65px;
  }
  .speech_bubble span {
    font-size: 0.8em;
  }
}
